<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Cell with the title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Introductory sentence for the notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Markdown cell to list Objectives for this notebook

**Objectives:**
* Create a markdown cell 
* To list data science languages
* To list data science libraries 
* To list Data Science tools in a tabular format 
* Create  code cells to multiply, add and divide numbers

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Pandas
4. Plotly

|Data Science Tools|
|------------------|
|R|
|Git|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# code cell to multiply and add numbers
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# code cell to convert minutes to hours
## This will convert 200 minutes to hours by dividing by 60
H = 200/60
print ("200 min in hours is", H, "hours")

200 min in hours is 3.3333333333333335 hours

## Author
Tanmaya Joshi